   <!-- begin: #footer -->
<div id="footer"> 
	<ul>
		<li><a href="http://www.ucl.ac.uk/disclaimer">Disclaimer</a></li>
		<li><a href="http://www.ucl.ac.uk/foi">Freedom of Information</a></li>

		<li><a href="http://www.ucl.ac.uk/accessibility">Accessibility</a></li>
		<li><a href="http://www.ucl.ac.uk/privacy">Privacy</a></li>
		<li><a href="http://search.ucl.ac.uk/search?entqr=1&amp;access=p&amp;as_dt=i&amp;sort=date%3AD%3AL%3Ad1&amp;ie=UTF-8&amp;btnG=Search+UCL&amp;as_lq=&amp;as_oq=&amp;ud=1&amp;as_q=&amp;oe=UTF-8&amp;as_ft=i&amp;output=xml_no_dtd&amp;entsp=a&amp;as_filetype=&amp;lr=&amp;as_sitesearch=&amp;client=default_frontend&amp;as_epq=&amp;as_eq=&amp;num=10&amp;site=default_collection&amp;proxystylesheet=default_frontend&amp;as_occt=any&amp;proxycustom=%3CADVANCED/%3E &lt;view-source:http://search.ucl.ac.uk/search?entqr=1&amp;access=p&amp;as_dt=i&amp;sort=date%3AD%3AL%3Ad1&amp;ie=UTF-8&amp;btnG=Search+UCL&amp;as_lq=&amp;as_oq=&amp;ud=1&amp;as_q=&amp;oe=UTF-8&amp;as_ft=i&amp;output=xml_no_dtd&amp;entsp=a&amp;as_filetype=&amp;lr=&amp;as_sitesearch=&amp;client=default_frontend&amp;as_epq=&amp;as_eq=&amp;num=10&amp;site=default_collection&amp;proxystylesheet=default_frontend&amp;as_occt=any&amp;proxycustom=%3CADVANCED/%3E&gt; ">Advanced Search</a></li>	
		<li><a href="http://www.ucl.ac.uk/contact-list/">Contact Us</a></li>
	</ul>	
	<div>
		<address class="vcard">
		<span class="adr">

		 University College London - Gower Street - London - WC1E 6BT
		</span>
		<span class="tel">
			<span class="type">Tel</span>:
			<span class="value">+44 (0)20 7679 2000</span>	
		</span>
		</address>
		<p>&#169; UCL 1999&#8211;2013</p>

	</div>

</div>
		<!-- end #footer -->