<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="{{site.baseurl}}css/mid-green/ci/ucl_default_layout.css"
  rel="stylesheet" type="text/css" />
<!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="../css/mid-green/ci/patch_ucl_default_layout.css" /><![endif]-->

<link rel="stylesheet" href="{{site.baseurl}}css/mid-green/ci/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{site.baseurl}}css/mid-green/ci/main.css" type="text/css" media="screen" />
    
<style type="text/css" media="screen">
	/* FOR 2-COLUMN LAYOUT: to make the centre column fill space */
	#col3 {margin:0 0 0 212px;} 
	#col3_content {padding-right:0;} 
</style>