/*Start Banner Colours [=BC]*/


.tb-default {
	background-color: #cccccc;
}
.tb-black {
	background-color: #181512;
}
.tb-blue_extra {
	background-color: #049dbf;
}
.tb-blue_open_day {
	background-color: #004b85;
}
.tb-dark_purple {
	background-color: #4C224F;
}
.tb-dark_purple_80 {
	background-color: #67436C;
}
.tb-dark_red {
	background-color: #6D0020;
}
.tb-dark_red_90 {
	background-color: #78002d;
}
.tb-dark_red_80 {
	background-color: #86183C;
}
.tb-dark_blue {
	background-color: #173958;
}
.tb-dark_blue_95 {
	background-color: #173857;
}
.tb-dark_blue_90 {
	background-color: #1B4669;
}
.tb-dark_blue_70 {
	background-color: #296587;
}
.tb-dark_blue_50 {
	background-color: #5c86a7;
}
.tb-dark_green_105{
	background-color: #316300;
}
.tb-dark_green {
	background-color: #4B5100;
}
.tb-dark_green_90 {
	background-color: #5E6509;
}
.tb-orange {
	background-color: #EF8100;
}
.tb-orange_80 {
	background-color: #f26d49;
}
.tb-orange_95 {
	background-color: #f18101;
}
.tb-mid_red {
	background-color: #EF3213;
}
.tb-mid_red_80 {
	background-color: #F26B47;
}
.tb-mid_blue {
	background-color: #29A6C9;
}
.tb-mid_blue_90 {
	background-color: #2FADCD;
}
.tb-mid_blue_80 {
	background-color: #50b5d1;
}
.tb-mid_blue_70 {
	background-color: #67bbd6;
}
.tb-mid_blue_60 {
	background-color:#459CBD;
}
.tb-mid_green {
	background-color: #689300;
}
.tb-yellow {
	background-color: #F6C100;
}
.tb-pink {
	background-color: #AD004E;
}
.tb-mid_green {
	background-color: #689300;
}
.tb-mid_green_80 {
	background-color: #80A743;
}
.tb-light_purple {
	background-color: #CCA6BB;
}
.tb-pink_95 {
	background-color: #920035;
}
.tb-pink_80 {
	background-color: #BC2268;
}
.tb-light_blue {
	background-color: #97BFDF;
}
.tb-very_light_blue {
	background-color: #92AEC7;
}
.tb-dark_purple_55 {
	background-color: #695a74;
}
.tb-advances{
	background-color:#6F7935;
}
.tb-natsci1{
	background-color:#181512;
}
.tb-women{
	background-color:#996699;
}
.tb-gc{
	background-color:#669900;
}
.tb-dark_grey{
	background-color:#222222;
}
.tb-esrc_green{
	background-color:#7AA100;
}
.tb-dark_green{
    background-color:#81A13C;
}
.tb-cerise{
	background-color:#9A004B;
}
/*End Banner Colours [=BC]*/

/*Breadcrumb styles [=BS]*/

#ucl0001, #ucl0084{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#29A6C9;
}
#ucl0002{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#689300;
}
#ucl0003, #ucl0073{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#EF8100;
}
#ucl0004{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#FFFFFF;
border-bottom: 1px solid #CCCCCC;
}
#ucl0005{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#CCA6BB;
}
#ucl0006, #ucl0031, #ucl0044, #ucl0046, #ucl0066, #ucl0067, #ucl0068{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#F6C100;
}
#ucl0007, #ucl0048, #ucl0086{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#97BFDF;
}
#ucl0008, #ucl0024, #ucl0052, #ucl0055{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#C7F400;
}
#ucl0009, #ucl0025{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#E5EACE;
}
#ucl0010, #ucl0049, #ucl0051, #ucl0053, #ucl0069{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#B1D779;
}
#ucl0011, #ucl0083{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#CBBED1;
}
#ucl0012, #ucl0059{
/*width:100%;
margin: 0;
padding: 0;
height:22px;*/
background-color:#DBB8B8;
}
#ucl0013b{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#A9C1D5;
}
#ucl0013c{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#BBD0E1;
}
#ucl0013, #ucl0043, #ucl0075{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#92AEC7;
}
#ucl0014, #ucl0036{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#B7D196;
}
#ucl0015{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#EEDDE7;
}
#ucl0016{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#AFCDE3;
}
#ucl0017{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#9ABB6B;
}
#ucl0018, #ucl0033{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#F7BF7D;
}
#ucl0019{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#F8EBAD;
}
#ucl0020, #ucl0027{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#7CC3DA;
}
#ucl0021{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#DCF981;
}
#ucl0022{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#BCD6EB;
}
#ucl0023{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#F8CE00;
}
#ucl0026{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#F3A64F;
}
#ucl0028, #ucl0061, #ucl0078{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#EBC2CB;
}
#ucl0029{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#F3F5E7;
}
#ucl0030{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#F9DB61;
}
#ucl0032, #ucl0060, #ucl0080, #ucl_aus{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#CEE7EE;
}
#ucl0034{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#DBB8BB;
}
#ucl0035{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#B7A4BF;
}
#ucl0037{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#E3A8B7;
}
#ucl0038, #ucl0089{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#B1C5D9;
}
#ucl0039{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#D7DCB8;
}
#ucl0040, #ucl0042{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#D7E6C4;
}
#ucl0041, #ucl0064{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#D1D1D4;
}

#ucl0045{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#FAE17A;
}
#ucl0047, #ucl0074{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#d9e6f3;
}
#ucl0050, #ucl0054{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#ad004e;
}
#ucl0056{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#FAE695;
}
#ucl0057{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#FFFFFF;
}
#ucl0058{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#FCD9C5;
}
#ucl0062{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#E4EDF7;
}
#ucl0063{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#F1E6ED;
}
#ucl0065, #ucl0076{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#EF3213;
}
#ucl0070{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#FCE0C8;
}
#ucl0071{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#D3E4EE;
}
#ucl0072{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#173958;
}
#ucl0077{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#fcfcfc;
}
#ucl0079, #ucl0085{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#A5D3E5;
}
#ucl0081{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#c6dbac;
}
#ucl0082{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#f9c6ac;
}
#ucl0087{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#AEC582;
}
#ucl0088{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#C6E7C6;
}
#ucl0090{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#dbdcde;
}
#ucl0091{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#229BB6;
}
#ucl0092{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#E5EACE;
}
#ucl0093{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color:#E4EDF7;
}
#ucl0094{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #f6b340;
}
#ucl0095{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #E8E6E3;
}
#ucl0096{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #5EADDC;
}
#ucl0097{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #EE7D27;
}
#ucl0098{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #996699;
}
#ucl0099{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #CC9999;
}
#ucl0100{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #5E9999;
}
#ucl0101{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #FFCC66;
}
#ucl0102{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #bdc242;
}
#ucl0103{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #F8CE00;
}
#ucl0104{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #fcd7c3;
}
#ucl0105{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #bbc1ae;
}
#ucl0106{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #CCD158;
}
#ucl0107{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #db0962;
}
#ucl0108 {
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #f3b01c;
}
#ucl0109{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #D8DE5E;
}
#ucl0110{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #d2ccc4;
}
#ucl0111{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #a2aa3f;
}
#ucl0112{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #fdc400;
}
#ucl0113{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #e95e27;
}
#ucl0114{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #D1DE44;
}
#ucl0115{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #CEE7EE;
}
#ucl0116{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #002154;
}
#ucl0117{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #92A5A1;
}
#ucl0118{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #F3B01C;
}
#ucl0119{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #ed174f;
}
#ucl0120{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #CA551F;
}
#ucl0121{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #DF9E33;
}
#ucl0123
{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #910f13;
}
#ucl0124
{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #bfbd95;
}
#ucl0125
{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #c5c5c5;
}
#ucl0127
{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #A195B9;
}
#ucl0128
{
width:100%;
margin: 0;
padding: 0;
height:22px;
/* background-color: #93a445; */
}
#ucl0129
{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #efe9e5;
}
#ucl0130
{
width:100%;
margin: 0;
padding: 0;
height:22px;
background-color: #E5EACE;
}
#header {
	height: 110px;
}
#header h1 {
	padding: 18px 0 0 20px;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
}
#header span {
	padding: 0 0 0 21px;
	text-transform:uppercase;
	font-size:11px;
	font-weight:lighter;
}
.section_header_white {
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
}
.section_subheader_white {
	color:#FFFFFF;
	font-size:11px;
	font-weight:lighter;
}
.section_header_blue {
	color:#000099;
}
.section_subheader_blue {
	color:#000099;
}

#logo_holder {
position:absolute;
top: 0px;
right:0px;
width: 265px;
height: 110px;
margin: 0;
display: inline;
text-align: right;
}
